<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">日志信息</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered">

        <colgroup>
            <col width="5%"/>
            <col width="5%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="5%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="45%"/>
        </colgroup>
        <thead>
        <tr>
            <th>企业ID</th>
            <th>资产ID</th>
            <th>大类</th>
            <th>子类</th>
            <th>级别</th>
            <th>设备</th>
            <th>生成时间</th>
            <th>原始日志</th>
        </tr>
        </thead>
        <tbody id="logInfo">

        </tbody>
    </table>
    <ul class="pagination" style="float: right">
        <li><a href="javascript:void(0)">首页</a></li>
        <li><a href="javascript:void(0)">1</a></li>
        <li><a href="javascript:void(0)">2</a></li>
        <li><a href="javascript:void(0)">3</a></li>
        <li><a href="javascript:void(0)">4</a></li>
        <li><a href="javascript:void(0)">5</a></li>
        <li><a href="javascript:void(0)">末页</a></li>
        <input style="width: 50px;margin-left: 5px"/>
        <button type="button" class="btn btn-primary jumpBtn" data-toggle="button">跳转</button>
    </ul>

</div>
<script>
    /*<![CDATA[*/
    var rows = 16;
    var currentPage = 0;
    $('#myModal').on('shown.bs.modal', function () {
        getLogs(currentPage)
    });

    function getLogs(page) {
        var time = year+month+day+'*';
        $("#logInfo").empty();
        $.ajax({
            url: "http://10.20.7.23:33332/analyse/logs",
            dataType : 'jsonp',
            jsonp : "callback",
            data: {
                entid: entid, cusid: cusid, cate: cate, subcate: subcate, level: level, device: device,
                page: page, rows: rows,time:time
            },
            type: "post",
            success: function (data) {
                if (data.status == 200) {
                    var tData = tableHtml(data.data);
                    $("#logInfo").html(tData);
                }
            }

        })
    }

    $(document).on('click', '.getPageLog', function () {
        var page = $(this).text();
        alert(page);
    });
    $(document).on('click', '.jumpBtn', function () {
        var page = $(this).siblings("input").val();
        getLogs(page);
    });

    /*拼装表数据*/
    function tableHtml(data) {

        var tHtml = "";
        $.each(data, function (index, eventInfo) {
            tHtml += '<tr><td>' + eventInfo.entId +
                '</td><td>' + eventInfo.cusId +
                '</td><td>' + eventInfo.eventCategory +
                '</td><td>' + eventInfo.eventCategoryTechnique +
                '</td><td>' + eventInfo.eventLevel +
                '</td><td>' + eventInfo.deviceHostName +
                '</td><td>' + eventInfo.eventStartTime +
                '</td><td>' + eventInfo.rawevent +
                '</td></tr>'
        });
        return tHtml
    }

    /*]]>*/
</script>



